# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Envs
.env
.env.*
.venv/
venv/

# Flask / local data
instance/
bookstore.db
*.sqlite
*.sqlite3

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
